@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>

    <h3>@Html.ActionLink("Create movie", "Save", "Movie")</h3>

    <h3>@Html.ActionLink("List Movies", "List", "Movie")</h3>

    <h3>@Html.ActionLink("Create Movie", "Create", "Movie")</h3>   
</p>
